/**
* Global
*/

* {
  padding: 0;
  margin: 0;   
}

/**
* Header
*/

.header .home-top {
  padding: 20px;
  display: flex;
  /* box-shadow: 0 0 7px #ad57e690; */
  box-shadow:  0 0 7px #8a2be280;
}

.home-top .logo,
.home-top .log {
  width: 20%;
}

.home-top .navigation {
  width: 60%;
  display: flex;
  list-style: none;
}

.home-top .navigation .nav-item {
  padding: 5px 15px;
}

.navigation .nav-item .nav-link {
  text-decoration: none;
  font-weight: 600;
}

.home-top .navigation .nav-item:hover .nav-link {
  color: blueviolet;
  border-bottom: 1px solid blueviolet;
}

.navigation .nav-item .nav-link.active {
  color: blueviolet;
  font-weight: 600;
  border-bottom: 1px solid blueviolet;
}

.home-top .logo {
  display: flex;
  justify-content: flex-end;
}

.home-top .logo .logo-content {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin-right: 50px;
}

.home-top .log .btn {
  padding: 5px 15px;
  background-color: blueviolet;
  color: #fff;
  border: 1px solid blueviolet;
  cursor: pointer;
  border-radius: 3px;
  transition: transform 0.7s ease-in-out;
  margin-left: 50px;
}

.home-top .log .btn:hover {
  transform: scale(1.1, 1.1);
}

/**
* Breadcrumb
*/

.breadcrumb {
  display: flex;
  width: 55%;
  margin: 40px auto;
}

.breadcrumb .breadcrumb-item {
  margin: 5px 10px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.breadcrumb .parent-link {
  font-weight: 700;
  color:blueviolet;
}

.breadcrumb .parent-link:hover{
  border-bottom: 1px solid blueviolet;
}

.breadcrumb .breadcrumb-sign {
  color: #bdbdbd;
}

.breadcrumb .child-link {
  color: #8a8a8a;
}

.breadcrumb .child-link:hover{
  border-bottom: 1px solid blueviolet;
}

/**
* Main
*/

.container {
  width: 60%;
  margin: 0 auto;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
}

.container .row .col-12 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.container .row .col-4 {
  width: 33.3%;
  max-width: 33.3%;
  min-width: 33.3%;
}

.container .row .col {
  width: 100%;
}

/**
* Big Card 
*/

.big-card {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.big-card .thumbnail .thumbnail-image {
  max-width: 100%;
  width: 100%;
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
}

.big-card .card-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 30px 70px;
  background-color: #8a2be2;
  opacity: 0.6;
  transition: opacity .3s linear;
}

.big-card:hover .card-body {
  opacity: 1;
}

.big-card .card-title {
  font-size: 24px;
  color: #fff;
  padding: 10px 0;
  transition: all .3s linear;
}

.big-card:hover .card-title {
  font-size: 28px;
  padding: 20px 0;
}

.big-card .user-profile .avatar {
  width: 50px;
  height: 50px;
  transition: all .3s linear;
}

.big-card:hover .user-profile .avatar {
  width: 80px;
  height: 80px
}

.big-card .avatar .avatar-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid #f8f8f8;
}

.big-card:hover .avatar .avatar-image {
  border: 3px solid #f8f8f8;
}

.big-card .user-profile .user-name {
  color: #dedede;
  padding: 10px 0;
  transition: all .3s linear;
}

.big-card:hover .user-profile .user-name {
  font-size: 18px;
  padding: 15px 0;
  color: #f6f6f6;
}

/**
* Small Card 
*/

.small-card {
  display: flex;
  flex-flow: column;
  margin: 10px;
  box-shadow:  0 0 7px #8a2be280;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.small-card .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: blueviolet;
  opacity: 0;
  z-index: 2;
  transition: opacity .3s linear;
}

.small-card:hover .mask {
  opacity: 0.6;
}

.small-card .thumbnail .thumbnail-image {
  max-width: 100%;
  width: 100%;
}

.small-card .card-body {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: -34px;
  z-index: 3;
}

.small-card .user-profile {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.small-card .user-profile .avatar {
  width: 50px;
  height: 50px;
}

.small-card .user-profile .avatar-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid #dedede;
  transition: transform .3s linear;
}

.small-card:hover .user-profile .avatar-image {
  transform: scale(1.1, 1.1);
}

.small-card .user-profile .user-name {
  color: #686868;
  padding: 10px;
  font-size: 14px;
  transition: color .3s linear;
}

.small-card:hover .user-profile .user-name {
  color: #ededed;
}

.small-card .card-body .card-title {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* text-align: center; */
  min-height: 36px;
  margin: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #585858;
  transition: color .3s linear;
}

.small-card:hover .card-body .card-title {
  color: #fff;
}

.small-card .card-body .card-footer {
  color: #686868;
  padding: 20px 0;
  font-size: 14px;
  transition: color .3s linear;
}

.small-card:hover .card-body .card-footer {
  color: #ededed;
}

/**
* Pagination
*/

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  list-style: none;
  box-shadow:  0 0 7px #8a2be280;
  border-radius: 7px;
  overflow: hidden;
}

.pagination .page-item {
  padding: 7px 15px;
  border-right: 1px solid #8a2be280;
  cursor: pointer;
}

.pagination .page-item:hover {
  background-color: #8a2be2;
} 

.pagination .page-item.active {
 background-color: blueviolet;
}

.pagination .page-item:last-child {
  border-right: none;
}

.pagination .page-item .page-link {
  text-decoration: none;
  color: blueviolet;
  font-weight: 600;
}

.pagination .page-item:hover .page-link {
  color: #f6f6f6;
}

.pagination .page-item.active .page-link {
  color: #f6f6f6;
}

.pagination .page-item.active:hover,
.pagination .page-item.active:hover .page-link {
  cursor: not-allowed;
}